__pycache__/__init__.cpython-39.pyc
__pycache__/ActivationFunctions.cpython-39.pyc
__pycache__/convolution.cpython-39.pyc
__pycache__/mlp.cpython-39.pyc
data/__pycache__/__init__.cpython-39.pyc
data/__pycache__/cnn.cpython-39.pyc
data/__pycache__/mlp.cpython-39.pyc
__pycache__/__init__.cpython-310.pyc
